@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>

<html lang="en">
<head>
    type="text/html; charset=utf-8" />
    <title>Crop Recommendation Result</title>

</head>
<body>
<h1 class="text-center">TO BE IMPLEMENTED</h1>
</body>

</html>