@{
    ViewData["Title"] = "About this model";
}
<h1>@ViewData["Title"]</h1>
<br/> <br/>
<h3>About the model</h3>
<p>This project uses machine learning specifically, using a gradient boosting tree-based model. Boosting, unlike other machine learning models that train on the data independently, uses the prediction of multiple weak learners where each learner is slightly better from the previous one.</p>
<h3>About the data</h3>
<p>The data was picked of <a href="https://www.kaggle.com/datasets/atharvaingle/crop-recommendation-dataset.">here</a>. The data has 7 parameters. These are the nitrogen(N), potassium(K), phosphorus(P), average temperature (monthly), average humidity, soil pH, and rainfall(mm). Though there are some problems with the units of nitrogen, potassium and phosphorus as it is not clearly mentioned in the dataset and I could not find them clearly. It will take some time to get that clarity. </p>