@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Start finding out what crop is best suited for your soil <a asp-controller="Predictor" asp-action="Index">now</a>.</p>
    <p>About the website <a asp-controller="Home" asp-action="About">now</a>.</p>
</div>