@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3><a asp-controller="Predictor" asp-action="Index">Use the predictor</a></h3>
    <a asp-controller="Home" asp-action="About">About the website </a>
</div>